<!DOCTYPE html>
<html>
<head>
    <title>DT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        label,
        legend {
            font-size: 16px;
            font-weight: bold;
        }

        legend {
            text-decoration: none;
            padding: 0;
            border: none;
        }
    </style>
</head>
<body>
    <h2>Decision Tree</h2>
    <form method="post" action="{{ url_for('classify_dt') }}" class="form-group">
        <div class="form row">
            <label for="criterion">Criterion</label>
            <select name="criterion" id="criterion" class="form-control">
                <option value="gini">gini</option>
                <option value="entropy">entropy</option>
                <option value="log_loss">log_loss</option>
            </select>
        </div>
        <br>
        <div class=" form row">
            <legend class="col-form-label col-sm-2 pt-0">Splitter</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input type="radio" id="best" name="splitter" value="best" class="form-check-input">
                    <label for="best" class="form-check-label">Best</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="random" name="splitter" value="random" class="form-check-input">
                    <label for="random" class="form-check-label">Random</label>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <label for="max_depth">Max Depth</label>
            <input type="number" name="max_depth" id="max_depth" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Classificar</button>
    </form>
</body>
</html>